<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See COPYRIGHT and LICENSE files for more details.

++#%>

<% html_title t(:label_administration), "#{t(:label_edit)} #{t(:label_work_package_types)} #{h @type.name}" %>

<%= render ::Types::EditPageHeaderComponent.new(type: @type, tabs: types_tabs) %>
<p><%= I18n.t("types.edit.project_attributes.description") %></p>

<%= render WorkPackageTypes::ProjectAttributes::IndexComponent.new(
      type: @type,
      project_custom_field_sections: @project_custom_field_sections
    ) %>
