.op-inplace-edit-text-field
  margin-left: -9px !important // cancel out 8px padding + 1px border
  margin-right: -9px !important // cancel out 8px padding + 1px border
  width: calc(100% + 18px) !important
  &:not(&:focus):not(&:hover)
    border-color: transparent
    box-shadow: none
