<%= content_tag(:div, container_attributes) do %>
  <%= render(
        ResourcePlannerViews::WorkPackageTimeline::SubHeaderComponent.new(
          project: @project, resource_planner: @resource_planner, view: @view
        )
      ) %>
  <div class="op-rm-timeline" data-resource-management--work-package-timeline-target="calendar"></div>
<% end %>
